:root {
  --background-all: #0b1215;
  --font-all: #f3f3f3;
  --primary: #4b0072;
  --secondary: #ff3d20;
  --tertiary: #29f247;
  --shadow: #05061e;
  --white: #f3f3f3;
  --white-shadow: #f3f3f376;
  --shadow-shadow: #05061e76;
  --primary-shadow-light: #4a0072b4;
  --secondary-shadow-light: #ff3d20b4;
  --tertiary-shadow-light: #29f24772;
  --primary-shadow: #4b007276;
  --secondary-shadow: #ff3d2076;
  --tertiary-shadow: #29f24749;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-image: url("");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--font-all);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.sidebar {
  position: fixed;
  top: 10px;
  left: 16px;
  width: 55px;
  height: 80vh;
  background-color: var(--shadow-shadow);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  gap: 1px;
  margin: 0;
  border-radius: 10px;
}

.botaoPbaixo {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.sidebar i {
  font-size: 20px;
  margin: 10px 0;
  color: var(--font-all);
}

.sidebar i:hover {
  color: white;
}

.main-content {
  margin-left: 80px;
  padding: 20px;
}

.header {
  position: relative;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  color: var(--white-);
}

.button-text-container {
  display: flex;
  align-items: center;
}

.button-text {
  margin-left: 10px;
}

.header h1 {
  font-size: 48px;
  margin: 0;
  color: var(--font-all);
  text-shadow: 2px 2px var(--secondary);
}

.header p {
  font-size: 18px;
  margin: 10px 0;
}

.header .play-button {
  background-color: var(--white);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header .play-button i {
  color: rgb(220, 0, 0);
  font-size: 24px;
}

.music-item {
  background-color: var(--shadow-shadow);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 100vh;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.controls .material-symbols-outlined {
  font-size: 24px; /* Tamanho dos ícones */
  margin: 0 10px; /* Margens laterais */
  cursor: pointer; /* Cursor em forma de mão ao passar o mouse */
  transition: color 0.3s; /* Efeito de transição para a cor */
}

.controls .material-symbols-outlined:hover {
  color: #4caf50; /* Muda a cor ao passar o mouse */
}

.progress-bar {
  flex-grow: 1; /* Permite que a barra de progresso cresça */
  height: 10px;
  background: #ddd; /* Fundo da barra de progresso */
  border-radius: 5px; /* Bordas arredondadas */
  margin: 0 10px; /* Margem lateral para espaçamento */
  position: relative; /* Para posicionar a barra interna */
}

.progress-bar div {
  width: 50%; /* Exemplo de progresso, ajuste conforme necessário */
  height: 100%;
  background: #4caf50; /* Cor da barra de progresso */
  border-radius: 5px; /* Bordas arredondadas */
  position: absolute; /* Para garantir que fique sobre a barra */
}

.time {
  font-size: 14px; /* Tamanho da fonte */
  color: #555; /* Cor do texto */
  text-align: center; /* Centraliza o texto */
  margin: 0 5px; /* Margens laterais */
}
