header {
    width: 100%;
    height: 60px;
    z-index: 10;
}

.section-header {
    margin: 15px;
    padding: 15px 10px;
    position: relative;
    left: 78px;
    width: calc(100% - 78px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: all;
    transition: all 0.5s ease;
}

.sidebar.open~.back-image .section-header {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
}

.section-header #logo {
    margin-left: 20px;
    display: inline-block;

    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 34px;
    color: var(--font);
    transition: 0.8s;
    cursor: pointer;

    background:
        linear-gradient(to right, rgba(255, 255, 255, 0), rgba(100, 200, 200, 0)),
        linear-gradient(to right, var(--de-detail-green), var(--de-detail-green));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 70%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;

    /* @param background - linha abaixo da logo para :hover para clique*/

    animation: fadeIn 1s ease;
    transition: 0.5s;
}

#logo:hover,
#logo:focus {
    color: var(--de-detail-green);
    background-size: 0 0.1em, 100% 0.1em;
    transition: 0.3s;
}

.header_list {
    display: flex;
    align-items: center;
}

.header-list #level_user {
    padding: 8px 12px;
    border: 3px solid var(--font);
    border-radius: 100px;
    cursor: pointer;
    transition: 150ms;
}

.header-list #level_user:hover {
    color: var(--de-detail-purple);
    border-color: var(--de-detail-purple);
}

.header-list a,
.header-list #level_user {
    margin-left: 25px;
}

.header-list a {
    font-size: 16px;
    text-decoration: none;
}

.header-list a:last-child {
    margin-right: 50px;
}

.header-list .menu-icon {
    color: var(--font);
    filter: drop-shadow(0 0 10px var(--sha-shadow-white));
    animation: fadeIn 1s ease;
    transition: 0.8s;
}

.header-list .menu-icon:hover {
    color: var(--de-detail-green);
    text-shadow: 0 0 10px var(--sha-shadow-white), 0 0 50px var(--de-detail-green);
    transition: 0.5s;
}


/* header-list lateral */
.sidebar {
    padding: 8px;
    border-radius: 8px;
    position: fixed;
    left: 10px;
    top: 10px;
    height: 39vw;
    background: var(--shadow-shadow);
    backdrop-filter: blur(10px);
    z-index: 10;
}

.sidebar i {
    color: var(--white);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar li {
    width: 50px;
    height: 50px;
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar button {
    background: none;
    border: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    transition: 250ms;
    align-items: center;
    text-align: center;

    i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.sidebar button:hover {
    background: var(--white);

    i{
        color: var(--tertiary);
    }
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 20px);
    z-index: 3;
    background: var(--shadow-shadow);
    color: var(--white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 350ms ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    align-items: center;
    text-decoration: none;
    transition: all 250ms ease;
}

.sidebar li a:hover {
    color: var(--tertiary);
    background: var(--white);
}

.sidebar li a .links_name {
    color: var(--white);
    font-size: 15px;
    letter-spacing: 1px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: var(--tertiary);
}

hr {
    width: 50%;
    margin: 1rem 0;
    border: 1px solid var(--white);
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.exit-container {
    position: absolute;
    bottom: 24px;
}

.exit-container a.exit-button {
    width: 50px;
    height: 50px;

    i {
        font-size: 21px;
    }
}

@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }
}

/* Media */

@media screen and (max-width: 768px) {
    #logo {
        margin-left: 200px;
    }
}

@media screen and (max-width: 500px) {
    #logo {
        margin-left: 10px;
    }
}