/* 
  Arquivo: fonts.css
  Descrição: Este arquivo contém os estilos de fontes do Astro.
    
  Seções principais:
  1. Estilos da fonte Bebas Neue
  2. Estilos da fonte Montserrat
    
  Data: 20 de Outubro de 2024
*/

.bebas-neue-regular {
  font-family: "Bebas Neue", Arial;
  font-weight: 700;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", Helvetica;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-medium {
  font-family: "Montserrat", Helvetica;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-semi-bold {
  font-family: "Montserrat", Helvetica;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", Helvetica;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
