/* 
  Arquivo: root.css
  Descrição: Este arquivo contém os estilos base do Astro.
    
  Seções principais:
  1. Estilos base
  2. Estilos de seleção
  3. Estilos de preenchimento automático
  4. Estilos de barra de rolagem
    
  Data: 20 de Outubro de 2024
*/

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css");
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  overflow-x: hidden;
}

::selection {
  background: var(--primary-shadow-light);
}

input:-webkit-autofill {
  background-color: transparent !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--shadow) inset !important;
  -webkit-text-fill-color: var(--font-all) !important;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--shadow);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--shadow);
}

*::-webkit-scrollbar-track:active {
  background-color: var(--shadow);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--primary);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-shadow-light);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--secondary);
}

/* Overlay do pop-up */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black-shadow);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Contêiner do pop-up */
.popup-container {
  background-color: var(--shadow);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 450px;
  min-height: 200px;
  width: 90%;
  animation: fadeIn 0.3s ease;
}

/* Mensagem do pop-up */
.popup-message {
  font-size: 26px;
  margin-bottom: 20px;
  color: var(--font-all);
}

/* Botões do pop-up */
.popup-button {
  width: 45%;
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    filter: brightness(1.5);
    box-shadow: 0 2px 4px var(--black-shadow);
  }
}

#content {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  visibility: visible;
}

#content.fade-out {
  opacity: 0;
  visibility: hidden;
}

/* Loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* Inicialmente escondido */
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Garante que o loader fique sobre os outros elementos */
}

/* From Uiverse.io by fanishah */ 
.planet {
  display: block;
  width: 125px;
  height: 125px;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 50%;
  background: #fcc96b;
  background: #fcc96b;
  background: linear-gradient(
    180deg,
    #fcc96b 0%,
    #fcc96b 15%,
    #f7ae01 15%,
    #f7ae01 19%,
    #fcc96b 19%,
    #fcc96b 22%,
    #f7ae01 22%,
    #f7ae01 28%,
    #fcc96b 28%,
    #fcc96b 31%,
    #fcc96b 33%,
    #fcc96b 36%,
    #f7ae01 36%,
    #f7ae01 48%,
    #fcc96b 48%,
    #fcc96b 55%,
    #f7ae01 55%,
    #f7ae01 66%,
    #fcc96b 66%,
    #fcc96b 70%,
    #f7ae01 70%,
    #f7ae01 73%,
    #fcc96b 73%,
    #fcc96b 82%,
    #f7ae01 82%,
    #c7ba9d 86%,
    #fcc96b 86%
  );
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.25),
    inset 8px -4px 6px rgba(199, 128, 0, 0.5),
    inset -8px 4px 8px rgba(255, 235, 199, 0.5), inset 20px -5px 12px #f7ae01,
    0 0 100px #ffffff59;
  transform: rotateZ(-15deg);
}

.planet::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 16px solid #e1a519;
  border-top-width: 0;
  border-radius: 50%;
  box-shadow: 0 -2px 0 #c18620;
  animation: rings1 0.8s infinite linear;
}

.planet::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 8px solid #d48b0c;
  border-top-width: 0;
  border-radius: 50%;
  box-shadow: 0 -2px 0 #b99309;
  animation: rings2 0.8s infinite linear;
}

@keyframes rings1 {
  0% {
    transform: rotateX(65deg) rotateZ(0deg) scale(1.75);
  }

  100% {
    transform: rotateX(65deg) rotateZ(360deg) scale(1.75);
  }
}

@keyframes rings2 {
  0% {
    transform: rotateX(65deg) rotateZ(0deg) scale(1.7);
  }

  100% {
    transform: rotateX(65deg) rotateZ(360deg) scale(1.7);
  }
}

.popup-button.confirm {
  background-color: var(--tertiary-shadow);
  color: var(--font-all);
}

.popup-button.cancel {
  background-color: var(--secondary-shadow);
  color: var(--font-all);
}

/* Animação de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Estilo do Popup */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: var(--shadow);
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: var(--font-all);
}

.popup input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: var(--font-all);
}

.popup button {
  width: 48%;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 21px;
  background-color: var(--primary-shadow);
  color: var(--font-all);
  font-size: 14px;
}

.popup button:hover {
  background-color: var(--primary);
}

.popup button:nth-child(2) {
  background-color: #ccc;
}

.popup button:nth-child(2):hover {
  background-color: #999;
}
