/* 
  Arquivo: root.css
  Descrição: Este arquivo contém os estilos base do Astro.
    
  Seções principais:
  1. Estilos base
  2. Estilos de seleção
  3. Estilos de preenchimento automático
  4. Estilos de barra de rolagem
    
  Data: 20 de Outubro de 2024
*/

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  overflow-x: hidden;
}

::selection {
  background: var(--primary-shadow-light);
}

input:-webkit-autofill {
  background-color: transparent !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--shadow) inset !important;
  -webkit-text-fill-color: var(--font-all) !important;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--shadow);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--shadow);
}

*::-webkit-scrollbar-track:active {
  background-color: var(--shadow);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--primary);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-shadow-light);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--secondary);
}

/* Overlay do pop-up */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black-shadow);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Contêiner do pop-up */
.popup-container {
  background-color: var(--shadow);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 450px;
  min-height: 200px;
  width: 90%;
  animation: fadeIn 0.3s ease;
}

/* Mensagem do pop-up */
.popup-message {
  font-size: 26px;
  margin-bottom: 20px;
  color: var(--font-all);
}

/* Botões do pop-up */
.popup-button {
  width: 45%;
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    filter: brightness(1.5);
    box-shadow: 0 2px 4px var(--black-shadow);
  }
}

#content {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  visibility: visible;
}

#content.fade-out {
  opacity: 0;
  visibility: hidden;
}

/* Loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* Inicialmente escondido */
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Garante que o loader fique sobre os outros elementos */
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.popup-button.confirm {
  background-color: var(--tertiary-shadow);
  color: var(--font-all);
}

.popup-button.cancel {
  background-color: var(--secondary-shadow);
  color: var(--font-all);
}

/* Animação de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
