/* 
  Arquivo: variables.css
  Descrição: Este arquivo contém as variáveis do Astro e os temas.
    
  Seções principais:
  1. Tema padrão
  2. Tema claro
  3. Tema escuro
  4. Tema oceano
  5. Tema fogo
    
  Data: 20 de Outubro de 2024
*/

:root {
  --font-all: #f3f3f3;
  --background-all: #121212;;

  --primary: #4b0072;
  --secondary: #ff3d20;
  --tertiary: hsl(129, 89%, 55%);
  --shadow: #05061e;
  --white: #f3f3f3;
  --black-shadow: #00000076;

  --white-shadow: #f3f3f376;
  --shadow-shadow: #05061e76;
  --black-shadow-shadow: #01010176;

  --primary-shadow-light: #4a0072b4;
  --secondary-shadow-light: #ff3d20b4;
  --tertiary-shadow-light: #29f24772;

  --primary-shadow: #4b007276;
  --secondary-shadow: #ff3d2076;
  --tertiary-shadow: #29f24749;

  --border-neon: 2px solid var(--primary);
  --none-border: none;
}

.light {
  --font-all: #121212; /* Cor do texto */
  --background-all: #f3f3f3; /* Cor de fundo */

  --primary: #4b0072; /* Cor primária */
  --secondary: #ff3d20; /* Cor secundária */
  --tertiary: hsl(129, 89%, 35%); /* Cor terciária */
  --shadow: #e0e0e0; /* Cor da sombra */
  --white: #121212; /* Cor branca alterada para texto escuro */
  --black-shadow: rgba(0, 0, 0, 0.1); /* Sombra clara para o fundo */

  --white-shadow: rgba(243, 243, 243, 0.5); /* Sombra branca */
  --shadow-shadow: rgba(0, 0, 0, 0.1); /* Sombra suave */
  --black-shadow: rgba(0, 0, 0, 0.1); /* Sombra leve */

  --primary-shadow-light: rgba(75, 0, 114, 0.5); /* Sombra leve da cor primária */
  --secondary-shadow-light: rgba(255, 61, 32, 0.5); /* Sombra leve da cor secundária */
  --tertiary-shadow-light: rgba(41, 242, 71, 0.5); /* Sombra leve da cor terciária */

  --primary-shadow: rgba(75, 0, 114, 0.3); /* Sombra da cor primária */
  --secondary-shadow: rgba(255, 61, 32, 0.3); /* Sombra da cor secundária */
  --tertiary-shadow: rgba(41, 242, 71, 0.3); /* Sombra da cor terciária */
}

.dark {
   --font-all: #ffffff; /* Cor do texto em branco para contraste */
  --background-all: #121212; /* Cor de fundo preta */

  --primary: #cccccc; /* Cor primária - cinza claro */
  --secondary: #999999; /* Cor secundária - cinza médio */
  --tertiary: #666666; /* Cor terciária - cinza escuro */
  --shadow: #121212; /* Sombra preta */
  --white: #ffffff; /* Cor branca para texto */
  --black-shadow: rgba(0, 0, 0, 0.5); /* Sombra negra com transparência */

  --white-shadow: rgba(255, 255, 255, 0.1); /* Sombra branca leve */
  --shadow-shadow: rgba(0, 0, 0, 0.7); /* Sombra escura */
  --black-shadow: rgba(0, 0, 0, 0.3); /* Sombra leve preta */

  --primary-shadow-light: rgba(204, 204, 204, 0.5); /* Sombra leve da cor primária */
  --secondary-shadow-light: rgba(153, 153, 153, 0.5); /* Sombra leve da cor secundária */
  --tertiary-shadow-light: rgba(102, 102, 102, 0.5); /* Sombra leve da cor terciária */

  --primary-shadow: rgba(204, 204, 204, 0.3); /* Sombra da cor primária */
  --secondary-shadow: rgba(153, 153, 153, 0.3); /* Sombra da cor secundária */
  --tertiary-shadow: rgba(102, 102, 102, 0.3); /* Sombra da cor terciária */
}

.ocean {
  --font-all: #f3f3f3; /* Cor do texto em branco para contraste */
  --background-all: #121212; /* Cor de fundo preta */

  --primary: #56e1e9; /* Cor primária - verde claro */
  --secondary: #5b58eb; /* Cor secundária - verde médio */
  --tertiary: #bb63ff; /* Cor terciária - verde escuro */
  --shadow: #0a2353; /* Sombra preta */
  --white: #ffffff; /* Cor branca para texto */
  --black-shadow: rgba(0, 0, 0, 0.5); /* Sombra negra com transparência */

  --white-shadow: rgba(255, 255, 255, 0.3); /* Sombra branca leve */
  --shadow-shadow: #0a2353b3; /* Sombra escura */
  --black-shadow: rgba(0, 0, 0, 0.3); /* Sombra leve preta */

  --primary-shadow-light: #56e1e980; /* Sombra leve da cor primária */
  --secondary-shadow-light: #5b58eb80; /* Sombra leve da cor secundária */
  --tertiary-shadow-light: #bb63ff80; /* Sombra leve da cor terciária */

  --primary-shadow: #56e1e94d; /* Sombra da cor primária */
  --secondary-shadow: #5b58eb4d; /* Sombra da cor secundária */
  --tertiary-shadow: #bb63ffd4; /* Sombra da cor terciária */
}

.fire {
  --font-all: #ffffff; /* Cor do texto em branco para contraste */
  --background-all: #ff4c4c; /* Cor de fundo preta */

  --primary: #e22926; /* Cor primária - vermelho claro */
  --secondary: #820808; /* Cor secundária - vermelho médio */
  --tertiary: #c62323; /* Cor terciária - vermelho escuro */
  --shadow: #581515; /* Sombra preta */
  --white: #ffffff; /* Cor branca para texto */
  --black-shadow: rgba(0, 0, 0, 0.5); /* Sombra negra com transparência */

  --white-shadow: rgba(255, 255, 255, 0.1); /* Sombra branca leve */
  --shadow-shadow: rgba(0, 0, 0, 0.7); /* Sombra escura */
  --black-shadow: rgba(0, 0, 0, 0.3); /* Sombra leve preta */

  --primary-shadow-light: rgba(255, 204, 203, 0.5); /* Sombra leve da cor primária */
  --secondary-shadow-light: rgba(255, 127, 127, 0.5); /* Sombra leve da cor secundária */
  --tertiary-shadow-light: rgba(255, 76, 76, 0.5); /* Sombra leve da cor terciária */

  --primary-shadow: rgba(255, 204, 203, 0.3); /* Sombra da cor primária */
  --secondary-shadow: rgba(255, 127, 127, 0.3); /* Sombra da cor secundária */
  --tertiary-shadow: rgba(255, 76, 76, 0.3); /* Sombra da cor terciária */
}

.green {
  --font-all: #f4fffc; /* Cor do texto em branco para contraste */
  --background-all: #1f4b2c; /* Cor de fundo verde escuro */

  --primary: #91eaaf; /* Cor primária - verde claro */
  --secondary: #4d7111; /* Cor secundária - verde médio */
  --tertiary: #c3e956; /* Cor terciária - verde escuro */
  --shadow: #1f4b2c; /* Sombra verde escuro */
  --white: #f4fffc; /* Cor branca para texto */
  --black-shadow: rgba(0, 0, 0, 0.5); /* Sombra negra com transparência */

  --white-shadow: #f4fffc50; /* Sombra branca leve */
  --shadow-shadow: #1f4b2cb3; /* Sombra escura */
  --black-shadow: rgba(0, 0, 0, 0.3); /* Sombra leve preta */

  --primary-shadow-light: rgba(165, 214, 167, 0.5); /* Sombra leve da cor primária */
  --secondary-shadow-light: rgba(102, 187, 106, 0.5); /* Sombra leve da cor secundária */
  --tertiary-shadow-light: rgba(56, 142, 60, 0.5); /* Sombra leve da cor terciária */

  --primary-shadow: rgba(165, 214, 167, 0.3); /* Sombra da cor primária */
  --secondary-shadow: rgba(102, 187, 106, 0.3); /* Sombra da cor secundária */
  --tertiary-shadow: rgba(56, 142, 60, 0.3); /* Sombra da cor terciária */
}

.high-contrast {
  --font-all: #ffffff; /* Cor do texto em branco para contraste */
  --background-all: #000000; /* Cor de fundo preta */

  --primary: #ffea00; /* Cor primária - amarelo brilhante */
  --secondary: #ff3d00; /* Cor secundária - laranja brilhante */
  --tertiary: #00ff3d; /* Cor terciária - verde neon */
  --shadow: #111111; /* Sombra negra */
  --white: #ffffff; /* Cor branca para texto */
  --black-shadow: rgba(0, 0, 0, 0.5); /* Sombra negra com transparência */

  --white-shadow: rgba(255, 255, 255, 0.1); /* Sombra branca leve */
  --shadow-shadow: rgba(0, 0, 0, 0.7); /* Sombra escura */
  --black-shadow: rgba(0, 0, 0, 0.3); /* Sombra leve preta */

  --primary-shadow-light: rgba(255, 234, 0, 0.5); /* Sombra leve da cor primária */
  --secondary-shadow-light: rgba(255, 61, 0, 0.5); /* Sombra leve da cor secundária */
  --tertiary-shadow-light: rgba(0, 255, 61, 0.5); /* Sombra leve da cor terciária */

  --primary-shadow: rgba(255, 234, 0, 0.3); /* Sombra da cor primária */
  --secondary-shadow: rgba(255, 61, 0, 0.3); /* Sombra da cor secundária */
  --tertiary-shadow: rgba(0, 255, 61, 0.3); /* Sombra da cor terciária */
}

.galaxy {
  --font-all: #f3f3f3; /* Cor do texto em branco para contraste */
  --background-all: #121212; /* Cor de fundo preta */

  --primary: #ffffff; /* Cor primária - amarelo brilhante */
  --secondary: #6967fb; /* Cor secundária - laranja brilhante */
  --tertiary: #c8f904; /* Cor terciária - verde neon */
  --shadow: #0e1a1f; /* Sombra negra */
  --white: #ffffff; /* Cor branca para texto */
  --black-shadow: rgba(0, 0, 0, 0.5); /* Sombra negra com transparência */

  --white-shadow: #ffffff1a; /* Sombra branca leve */
  --shadow-shadow: #0e1a1fb3; /* Sombra escura */
  --black-shadow: #121212d4; /* Sombra leve preta */

  --primary-shadow-light: #ffffff80; /* Sombra leve da cor primária */
  --secondary-shadow-light: #6967fb80; /* Sombra leve da cor secundária */
  --tertiary-shadow-light: #c8f90480; /* Sombra leve da cor terciária */

  --primary-shadow: #ffffff4d; /* Sombra da cor primária */
  --secondary-shadow: #6967fb80; /* Sombra da cor secundária */
  --tertiary-shadow: #c8f9044d; /* Sombra da cor terciária */
}