/* 
  Arquivo: player.css
  Descrição: Este arquivo contém os estilos do player de música.

  Seções principais:
  1. Estilos do player
  2. Estilos do lado esquerdo do player
  3. Estilos do lado direito do player
  4. Trackbar do player
  5. Botão de volume do player

  Data: 21 de Outubro de 2024
*/

/* Player */
.container_player {
  z-index: 10;
  border-radius: 14px;
  height: 80px;
  grid-area: 3 / 1 / 4 / 6;
  background: var(--black-shadow);

  .player {
    animation: fadeIn 1s ease;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
}

.side-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player_image {
  margin-right: 10px;
}

.player_image #imgSong {
  border: 0;
  border-radius: 5px;
  max-width: 50px;
  max-height: 50px;
}

.player_infoMusic {
  height: 50px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: space-evenly;
  cursor: default;

  #musicName {
    width: 100%;
    font-size: 1.25em;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--white);
  }

  #artistName {
    width: 100%;
    font-size: 0.7em;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--white);
  }
}

.user-prefers {
  width: 18%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  button {
    border: 0;
    background: transparent;
    cursor: pointer;
    align-items: center;
    width: 40px;
    height: 40px;
    text-align: center;
  }
}

#heartMusic,
#randomPlayerMusic {
  font-size: 1.2em;
  color: var(--secondary-shadow);
  transition: 250ms;

  &:hover {
    color: var(--secondary);
  }
}

button:is(#prevButton, #playPauseButton, #nextButton) {
  color: var(--white);
  transition: 250ms;
  span {
    font-size: 2.5em;
  }

  &:hover {
    color: var(--tertiary);
  }
}

/* Timecode player */
.timecode_player {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 800px;
  width: 100%;
}

.progress-bar {
  width: 80%;
  height: 8px;
  background: var(--white-shadow);
  cursor: pointer;
  border-radius: 5px;
  pointer-events: all;
  transition: 150ms;

  &:hover {
    background: var(--tertiary-shadow-light);
  }
}

.progress {
  height: 8px;
  background: var(--secondary);
  border-radius: 15px;
  transition: 150ms;

  &:hover {
    background: var(--secondary-shadow);
  }
}

#duration,
#currentTime {
  font-size: 0.6em;
  letter-spacing: 1px;
  color: var(--white-shadow);
}

.volume-control {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 1rem;
}

.volume-control span {
  color: var(--white);
  cursor: pointer;

}

span.volume_off {
  color: var(--secondary);
}

.volume-control span:hover {
  color: var(--tertiary);
}

.volume-toolkit {
  padding: 1rem;
  position: absolute;
  top: -85px;
  rotate: -90deg;
  display: none;
  z-index: 99;
  transition: opacity 0.3s ease; /* Para suavizar a transição */
}

.volume-control:hover .volume-toolkit {
  display: block;
}

#volumeSlider {
  -webkit-appearance: none;
  width: 100px;
  height: 10px;
  background: var(--secondary-shadow);
  border-radius: 5px;
  outline: none;
}

#volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: var(--secondary);
  border-radius: 50%;
  cursor: pointer;
}

#volumeSlider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--secondary);
  border-radius: 50%;
  cursor: pointer;
}

#volumeSlider::-moz-range-track {
  background: var(--secondary);
  border-radius: 5px;
}

#volumeSlider::-ms-thumb {
  width: 20px;
  height: 20px;
  background: var(--secondary);
  border-radius: 50%;
  cursor: pointer;
}

#volumeSlider::-ms-track {
  width: 100%;
  height: 10px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Media screen */

@media screen and (max-width: 1025px) {
  .player {
    height: 95px;
  }

  .player_infoMusic #musicName {
    font-size: 1em;
  }

  .player_infoMusic #artistName {
    font-size: 0.5em;
  }
}

@media screen and (max-width: 550px) {
  .container_player {
    grid-area: 3 / 1 / 4 / 8;
  }
  .player_image #imgSong {
    width: 60px;
    height: 60px;
  }

  .side-left {
    width: 80%;
  }

  .player_infoMusic {
    width: 100%;
  }

  #randomPlayerMusic,
  #nextButton,
  #prevButton,
  .container_volume,
  .timecode_player,
  .volume-control {
    display: none;
  }

  #heartMusic,
  .playPauseButton {
    display: flex;
  }
}
