/* 
  Arquivo: busca.css
  Descrição: Este arquivo contém os estilos da página de busca do Astro.
    
  Seções principais:
  1. Estilos da seção de busca
  2. Estilos da seção de resultados
  3. Estilos dos itens de música
  4. Estilos dos itens de artistas
  5. Estilos dos itens de playlists
    
  Data: 20 de Outubro de 2024
*/


body {
  padding: 1rem;
  width: 100%;
  height: 100vh !important;
  display: grid;
  grid-template-columns: 80px 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background: linear-gradient(
    45deg,
    var(--shadow) 0%,
    var(--background-all) 100%
  );
  background-size: cover;
}

main {
  grid-area: 2 / 2 / 3 / 6;
  overflow-x: hidden;
  position: relative;
}

.container-search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  i {
    position: absolute;
    left: 0;
    color: var(--white);
  }

  input#search {
    width: 60%;
    padding: 8px 2px;
    padding-left: 32px;
    border: 0;
    outline: none;
    border-bottom: 3px solid var(--white-shadow);
    color: var(--font-all);
    background: none;
    box-shadow: none;
    ::placeholder {
      color: var(--white-shadow);
    }
  }
}

.container-results {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 150px;

  .artists-container,
  .tracks-container,
  .playlists-container {
    width: 100%;
    h2 {
      color: var(--font-all);
    }
    display: flex;
    flex-direction: column;

    .results-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: flex-start;
    }
  }
}

.track-item {
  padding: 12px 10px;
  border-radius: 8px;

  img.track-image {
    --size: 150px;
    width: var(--size);
    height: var(--size);
    border-radius: 10px;
  }

  img.artists-image,
  img.artist-image {
    --size: 150px;
    width: var(--size);
    height: var(--size);
    border-radius: 100%;
  }

  .track-item-detail {
    margin-top: 8px;
    width: 150px;
    display: flex;
    flex-direction: column;

    h3,
    p {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--font-all);
    }

    h3 {
      font-size: 16px;

      &.artists-result,
      .artist-image {
        text-align: center;
      }
    }

    p {
      font-size: 10px;
    }
  }

  &:hover {
    cursor: pointer;
    background: var(--black-shadow);
  }
}

/* erro */
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-all);

  img.error-image {
    animation: upDown 10s ease-in-out infinite;
  }

  .error-message {
    width: 450px;
  }

  h1 {
    font-size: 2.5em;
    color: var(--tertiary);
  }
  h3 {
    font-size: 1.8em;
  }

  p {
    font-size: 1.25em;
    font-style: italic;
  }
}