.driver-popover.driverjs-theme {
  background-color: var(--primary);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.driver-popover.driverjs-theme .driver-popover-title {
  font-size: 20px;
  font-weight: bold;
  color: var(--secondary);
  margin-bottom: 10px;
}

.driver-popover.driverjs-theme .driver-popover-description,
.driver-popover.driverjs-theme .driver-popover-progress-text {
  color: var(--font-all);
}

.driver-popover.driverjs-theme .driver-popover-description {
  font-size: 12px;
}

.driver-popover.driverjs-theme button {
  flex: 1;
  text-align: center;
  background-color: var(--secondary-shadow);
  color: var(--font-all);
  text-shadow: none;
  font-size: 14px;
  padding: 5px 8px;
  border: 0;
  border-radius: 6px;
  transition: background-color 0.3s, transform 0.2s;
}

.driver-popover.driverjs-theme button:hover {
  background-color: var(--secondary);
  color: var(--font-all);
  transform: scale(1.05);
}

.driver-popover.driverjs-theme .driver-popover-navigation-btns {
  justify-content: space-between;
  gap: 3px;
}

.driver-popover.driverjs-theme .driver-popover-close-btn {
  color: var(--white);
  font-weight: 800;
  background: none;
  border: 0;

  &:hover {
    color: var(--secondary);
    background: none;
  }
}