/*
  * Artist Page Style
  * Last Update: 12/10/2024
  * Author: @ohthias
*/

body {
  background: var(--shadow);
  color: var(--font-all);
  overflow-x: hidden;
}

main {
  position: relative;
  width: calc(100%-100px);
  left: 90px;
}

.banner-artist {
  margin-bottom: 1.5rem;
  width: calc(100% - 100px);
  position: relative;

  .banner-details {
    position: absolute;
    bottom: 50px;
    left: 50px;

    h1#artist-name {
      font-size: 56px;
      text-shadow: 0 0 24px var(--secondary-shadow-light);
    }
  }
}

img#imageArtist {
  width: 100%;
  height: 500px;
  object-position: 50% 50%;
  object-fit: cover;
  position: relative;
  border-radius: 24px;
  place-items: center;
}

.section-main-content {
  width: calc(100% - 100px);
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex: 1;
}

.hot-tracks,
.container-details-artist {
  width: calc(50% - 4rem);
}

.container-details-artist {
  h3#ouvintes {
    font-size: 21px;
    margin-bottom: 1rem;
  }

  .artist-biography {
    font-size: 14px;
    text-align: justify;
  }
}

li.track-song {
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .track-song-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: calc(100% - 100px);

    img.track-song-image {
      width: 50px;
      height: 50px;
      border-radius: 4px;
      object-fit: cover;
    }

    p.name-song {
      position: relative;
      width: 100%;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .time-code {
    font-size: 12px;
    font-weight: 300;
  }
}

.container-songs {
  display: flex;
  flex-direction: column;
}
