main {
  background: var(--shadow);
  color: var(--font-all);
}

section.module.container1 {
  width: 100%;
  height: 100vh !important;
  position: relative;
  background: linear-gradient(
    to top,
    var(--primary-shadow-light),
    var(--secondary-shadow-light) 80%
  );
}

nav.navgation-bar {
  margin: 0 auto;
  max-height: 80px;
  padding: 2rem 0;
  padding-inline: 2rem;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 1s;

  label.navgation-bar-logo {
    font-size: 26px;
  }

  .navgation-bar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
}

a.menu-button-redirect {
  padding: 0.5rem 1rem;
  color: var(--font-all);
  text-decoration: none;

  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(100, 200, 200, 0)
    ),
    linear-gradient(to right, var(--tertiary), var(--tertiary));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 70%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  animation: fadeIn 1s ease;
  transition: 0.5s;

  &:focus,
  &:hover {
    color: var(--tertiary);
    background-size: 0 0.1em, 100% 0.1em;
    transition: 0.3s;
  }
}

a.menu-button-redirect:last-child {
  background: none;
  border: 2px solid var(--white);
  border-radius: 50px;

  &:focus,
  &:hover {
    color: var(--tertiary);
    background: var(--white);
    transition: 0.3s;
  }
}

.containner-info {
  margin-left: 2rem;
  position: relative;
  top: 15%;
  transform: translateY(-15%);
  animation: fadeIn 1s;
}

img.logo-image {
  height: 280px;
}

.containner-info-subtitle {
  margin-left: 4rem;
  margin-top: -90px;

  h2.montserrat-regular {
    font-size: 26px;
  }
}

.containner-info-subtitle .wrapper {
  margin-top: 1rem;
  box-sizing: content-box;
  color: var(--font-all);
  height: 50px;
  display: flex;
  justify-content: start;
}

.hidden {
  opacity: 0;
}

.console-container {
  margin-left: 8px;
  font-size: 21px;
  text-align: left;
  height: 200px;
  width: 600px;
  color: white;
}

.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  color: var(--secondary);
}

.buttons {
  margin-left: 4rem;
}

.buttons button.button-sign {
  border: 2px solid var(--white);
  border-radius: 50px;
  background: none;
  color: var(--font-all);
  padding: 0.8rem 1.25rem;
  cursor: pointer;
  transition: 350ms;

  &:first-child:hover {
    background: var(--white);
    color: var(--secondary);
  }
}

.buttons button.button-sign:last-child {
  margin-left: 1rem;
  background: var(--secondary);
  border-color: var(--secondary);

  &:hover {
    box-shadow: 0 0 25px var(--secondary-shadow);
  }
}

/* Tablet */

@media screen and (max-width: 850px) {
  .navgation-bar-menu {
    gap: 1.5rem;
  }

  .containner-info {
    top: 25%;
    transform: translateY(-25%);
  }

  img.logo-image {
    width: 550px;
    height: auto;
  }

  .containner-info-subtitle {
    margin-top: -120px;
  }

  h2.montserrat-regular {
    font-size: 32px;
  }

  .console-container,
  .wrapper h3 {
    font-size: 26px;
  }

  .buttons button.button-sign {
    font-size: 24px;
  }
}

/* Smartphone */

@media screen and (max-width: 550px) {
  .navgation-bar-menu a {
    display: none;
  }

  .containner-info {
  margin-left: 0;
    top: 10%;
    transform: translateY(-10%);
  }

  img.logo-image {
    width: 310px;
    height: auto;
  }

  .containner-info-subtitle {
    margin-top: -70px;
    margin-left: 3rem;
  }

  h2.montserrat-regular {
    font-size: 21px;
  }

  .console-container,
  .wrapper h3 {
    font-size: 18px;
  }

  .buttons button.button-sign {
    font-size: 21px;
  }

  .buttons {
    margin-left: 2rem;
  }  
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}