label.logo-title {
  position: absolute;
  top: 24px;
  left: 32px;
  font-size: 26px;
}

body {
  background: linear-gradient(
      to right,
      var(--shadow) 50%,
      var(--tertiary-shadow) 85%,
      var(--tertiary-shadow-light) 100%
    ),
    var(--shadow);
  color: #fff;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-size: 3em;
}

input[type="text"],
input[type="password"] {
  width: 300px;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: #282828;
  color: #fff;
}

.show-password {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

button {
  width: 300px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #ff4d4d;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cadastrar {
  margin-bottom: 15px;
  color: #ff3d20;
  text-decoration: underline;
}

button:hover {
  background-color: #ff6666;
}

.social-buttons {
  display: flex;
  gap: 15px; /* Space between buttons */
  margin-top: 20px;
}

.social-button {
  width: 140px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-button:hover {
  background-color: #eee;
}

.social-icon {
  margin-right: 10px;
}

.password-field {
  position: relative;
  display: flex;
  align-items: center;
}

.password-field input[type="password"] {
  padding-right: 40px; /* Increased space to accommodate the icon */
}

.password-field .material-symbols-outlined {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
