body {
  background: linear-gradient(to left, var(--shadow), var(--primary)), var(--shadow);
  color: var(--font-all);
}

label.logo-title {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 21px;
}

main.container {
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  .title-container {
    text-align: center;
  }

  h1 {
    font-size: 56px;
    letter-spacing: 5px;
  }

  a {
    font-size: 21px;
    text-align: center;
    color: var(--tertiary);
  }
}

.form-container {
  margin: 1rem 0;
  width: 420px;

  &:first-child {
    margin-top: 0;
  }

  label {
    color: var(--white-shadow);
    transition: 500ms;
    top: -68px;
    position: relative;
  }
}

.form-container input {
  margin: 0.5rem 0;
  padding: 0.8rem 0.5rem;
  width: 100%;
  background: none;
  border: 0;
  border-bottom: 2px solid var(--white-shadow);
  color: var(--white-shadow);
  outline: none;
  font-size: 16px;
  transition: 500ms;

  &::placeholder {
    color: var(--white-shadow);
  }

  &:focus {
    color: var(--white);
    border-color: var(--white);
  }
}

.form-container input:focus ~ label {
  color: var(--white);
}

.password-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="submit"].button-submit {
  width: 100%;
  padding: 1rem 0;
  border: 0;
  border-radius: 12px;
  background: var(--tertiary);
  cursor: pointer;
  font-size: 21px;
  transition: 500ms;

  &:hover {
    box-shadow: 0 0 25px var(--tertiary-shadow-light);
  }
}

span.material-symbols-outlined {
  position: absolute;
  right: 0;
  color: var(--white-shadow);
  transition: 250ms;

  &:hover, &:focus {
    color: var(--white);
  }
}

span.material-symbols-outlined.visible {
  color: var(--white);
}

span.material-symbols-outlined.hidden {
  color: var(--white-shadow);
}

p {
  text-align: center;
  margin: 1rem 0;
  font-size: 21px;
  color: var(--tertiary);
}