<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Erro</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link rel="stylesheet" href="/css/root/font.css" />
    <link rel="stylesheet" href="/css/root/variables.css" />
    <link rel="stylesheet" href="/css/root/root.css" />
    <link rel="stylesheet" href="/css/erro.css" />
  </head>
  <body class="error-404">
    <div class="container">
      <div class="container-informations">
        <h1 class="bebas-neue-regular">Astronauta perdido!</h1>
        <p class="montserrat-regular">
          Essa página não foi encontrada. Verifique a URL solicitada
        </p>
      </div>
      <a href="/home" class="button montserrat-bold">Voltar</a>
    </div>
    <script src="/js/token.js"></script>

  </body>
</html>
