<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/root/font.css" />
    <link rel="stylesheet" href="../static/css/root/root.css" />
    <link rel="stylesheet" href="../static/css/root/variables.css" />
    <link rel="stylesheet" href="../static/css/sidebar.css" />
    <link rel="stylesheet" href="../static/css/player.css" />
  </head>
  <body>
    <div class="artist-info">
      <img id="artist-image" class="artist-image" alt="Artista" />
      <h2 id="artist-name"></h2>
      <div id="artist-biography"></div>
    </div>
    <script src="../static/js/artistPage.js"></script>
  </body>
</html>
