<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/root/font.css" />
    <link rel="stylesheet" href="/css/root/root.css" />
    <link rel="stylesheet" href="/css/root/variables.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/player.css" />
    <link rel="stylesheet" href="/css/artists.css" />
  </head>
  <body id="backParallax">
    <nav class="navgation_bar">
      <a href="/home" class="nav-logo bebas-neue-regular">Astro</a>
      <img
        src="https://fakeimg.pl/40x40/e9e9e9/e9e9e9"
        alt="placeholder"
        class="user-perfil"
      />
    </nav>
    <div class="sidebar">
      <ul class="nav-list">
        <li>
          <a href="/home">
            <i class="material-icons">public</i>
            <span class="links_name bebas-neue-regular">Home</span>
          </a>
          <span class="tooltip bebas-neue-regular">Home</span>
        </li>
        <li>
          <a href="#">
            <i class="material-icons">search</i>
            <span class="tooltip bebas-neue-regular">Search</span>
          </a>
        </li>
        <hr />
        <li>
          <a href="#">
            <i class="material-icons">folder</i>
            <span class="links_name bebas-neue-regular">Biblioteca</span>
          </a>
          <span class="tooltip bebas-neue-regular">Biblioteca</span>
        </li>
        <li>
          <button id="new_playlist">
            <i class="material-icons">add</i>
          </button>
          <span class="tooltip bebas-neue-regular">Criar</span>
        </li>

        <div class="exit-container">
          <li>
            <hr />
            <a href="/" class="exit-button">
              <i class="material-icons">exit_to_app</i>
              <span class="links_name bebas-neue-regular">Sair</span>
            </a>
            <span class="tooltip bebas-neue-regular">Sair</span>
          </li>
        </div>
      </ul>
    </div>
    <div class="container_player">
      <div class="player">
        <div class="side-left">
          <div class="player_image">
            <img
              id="imgSong"
              src="https://fakeimg.pl/210x210/e9e9e9/e9e9e9"
              alt="Song_Image"
            />
          </div>
          <div class="player_infoMusic">
            <span id="musicName" class="montserrat-bold">Título da Música</span>
            <span id="artistName" class="montserrat-regular">Artista</span>
          </div>
        </div>
        <div class="user-prefers">
          <button id="heartMusic">
            <span class="material-symbols-outlined heart">favorite</span>
          </button>
          <button id="prevButton">
            <span class="material-symbols-outlined skip_previous"
              >skip_previous</span
            >
          </button>
          <button id="playPauseButton">
            <span class="material-symbols-outlined play_arrow">play_arrow</span>
          </button>
          <button id="nextButton">
            <span class="material-symbols-outlined skip_next">skip_next</span>
          </button>
          <button id="randomPlayerMusic">
            <span class="material-symbols-outlined shuffle">shuffle</span>
          </button>
        </div>
        <audio id="player" src=""></audio>
        <div class="timecode_player">
          <span id="currentTime" class="montserrat-medium">0:00</span>
          <div class="progress-bar" id="progressBar" style="cursor: pointer">
            <div class="progress"></div>
          </div>
          <span id="duration" class="montserrat-medium">0:00</span>
        </div>
      </div>
    </div>

    <main>
      <div class="banner-artist">
        <img
          crossorigin="anonymous"
          id="imageArtist"
          class="artist-image"
          alt="Artista"
          src="https://placehold.co/1000x500"
        />
        <div class="banner-details">
          <h1 id="artist-name" class="bebas-neue-regular">Placeholder Artist</h1>
        </div>
      </div>
      <section class="section-main-content">
        <div class="hot-tracks">
          <h2 class="montserrat-bold">Musicas em alta</h2>
          <ul class="container-songs">
            
          </ul>
        </div>
        <div class="container-details-artist">
          <h3 id="ouvintes" class="montserrat-bold">000.000</h3>
          <div id="artist-biography" class="montserrat-regular">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
            aperiam accusamus soluta totam delectus aut molestias nemo, fugit optio
            corporis modi illo repellendus itaque quas ipsum error ratione sequi
            hic.Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
            aperiam accusamus soluta totam delectus aut molestias nemo, fugit optio
            corporis modi illo repellendus itaque quas ipsum error ratione sequi
            hic.Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
            aperiam accusamus soluta totam delectus aut molestias nemo, fugit optio
            corporis modi illo repellendus itaque quas ipsum error ratione sequi
            hic.
          </div>
        </div>
      </section>
      <section class="section-playlists">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </section>
    </main>
    <script type="module" src="/js/musicPlayer.js"></script>
    <script src="/js/artistPage.js"></script>
    <script src="/js/background-color.js"></script>
  </body>
</html>
