<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Erro</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href="../static/css/root/font.css" />
    <link rel="stylesheet" href="../static/css/root/variables.css" />
    <link rel="stylesheet" href="../static/css/root/root.css" />
    <link rel="stylesheet" href="../static/css/erro.css" />
  </head>
  <body>
    <div class="container">
        <div class="container-informations">
            <h1 class="bebas-neue-regular">Asteroides à vista</h1>
            <p class="montserrat-regular">Um erro durante a execução foi encontrado. Verifique o console.</p>
        </div>
        <a href="index" class="button montserrat-bold">Voltar</a>
    </div>
  </body>
</html>
