<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Astro</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/driver.js@1.0.1/dist/driver.js.iife.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/driver.js@1.0.1/dist/driver.css"
    />
    <script src="/js/getTheme.js"></script>
    <script src="/js/token.js"></script>
    <script src="/js/theme.js"></script>


    <link rel="stylesheet" href="/css/api/drive.css" />
    <link rel="stylesheet" href="/css/api/swiper.css" />

    <link rel="stylesheet" href="/css/root/font.css" />
    <link rel="stylesheet" href="/css/root/root.css" />
    <link rel="stylesheet" href="/css/root/variables.css" />

    <link rel="stylesheet" href="/css/components/player.css" />
    <link rel="stylesheet" href="/css/components/sidebar.css" />
    <link rel="stylesheet" href="/css/components/navbar.css" />

    <link rel="stylesheet" href="/css/screen/home.css" />
  </head>
  <body>
    <main>
      <div class="wrapper first-acess">
        <span class="montserrat-bold" id="userNameAcess"></span>
        <h1 class="bebas-neue-regular first-acess-title">
          Seja bem-vindo ao Astro
        </h1>
        <p class="montserrat-regular subtitle">Suas músicas nas galáxias</p>
      </div>

      <section class="local-tracks swiper">
        <h2 class="bebas-neue-regular categoria-name">Andrômeda</h2>
        <div class="swiper-container">
          <div class="swiper-wrapper" id="lista-local-songs"></div>
          <button class="swiper-button-prev"></button>
          <button class="swiper-button-next"></button>
        </div>
      </section>

      <section class="artistas-section swiper">
        <h2 class="bebas-neue-regular categoria-name">Top Artistas</h2>
        <div class="swiper-container">
          <div class="swiper-wrapper" id="lista-artistas"></div>
          <button class="swiper-button-prev"></button>
          <button class="swiper-button-next"></button>
        </div>
      </section>

      <section class="music-section swiper">
        <h2 class="bebas-neue-regular categoria-name">Rock</h2>
        <div class="swiper-container">
          <div class="swiper-wrapper" id="lista-musicas"></div>
          <button class="swiper-button-prev"></button>
          <button class="swiper-button-next"></button>
        </div>
      </section>

      <section class="music-section swiper">
        <h2 class="bebas-neue-regular categoria-name">Pop</h2>
        <div class="swiper-container">
          <div class="swiper-wrapper" id="lista-albums"></div>
          <button class="swiper-button-prev"></button>
          <button class="swiper-button-next"></button>
        </div>
      </section>
    </main>

    <script src="/js/generator/menus.js"></script>
    <script src="/js/generator/player.js"></script>
    <script src="/js/generator/navbar.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/driver/driver.js"></script>
    <script src="/js/swipe.js"></script>
    <script type="module" src="/js/musicPlayer.js"></script>
    <script type="module" src="/js/api/apiAcess.js"></script>
  </body>
</html>
