<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro</title>
    <meta name="keywords" content="Astro, music, songs" />
    <meta name="description" content="Astro, o reprodutor de músicas da web" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/faviconite.webmanifest" />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      href="https://cdn.jsdelivr.net/gh/yesiamrocks/cssanimation.io@1.0.3/cssanimation.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/root/font.css" />
    <link rel="stylesheet" href="/css/root/root.css" />
    <link rel="stylesheet" href="/css/root/variables.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>

  <body>
    <audio
      id="background-audio"
      src="/sounds/Beyond.mp3"
      loop
      muted
    ></audio>
    <main>
      <section class="module container container1">
        <nav class="navigation-bar">
          <label
            id="logo"
            class="navgation-bar-logo nav-logo bebas-neue-regular cssanimation leFadeIn sequence"
            >Astro</label
          >
          <div class="navgation-bar-menu">
            <a
              href="https://github.com/ohthias/Astro-reimagination/wiki"
              target="_blank"
              class="menu-button-redirect montserrat-semi-bold"
              >Documentação</a
            >
            <a
              href="https://github.com/ohthias/Astro-reimagination/wiki"
              target="_blank"
              class="menu-button-redirect montserrat-semi-bold"
              >About</a
            >
            <hr class="divisor" />
            <a href="/login" class="menu-button-redirect montserrat-bold"
              >Entrar</a
            >
          </div>
        </nav>

        <div class="containner-info">
          <div class="star star1"><i class="fi fi-ss-star"></i></div>
          <div class="star star2"><i class="fi fi-ss-star"></i></div>
          <div class="star star3"><i class="fi fi-ss-star"></i></div>
          <div class="star star4"><i class="fi fi-ss-star"></i></div>
          <div class="containner-text">
            <img src="/svg/Astro.svg" alt="logo-image" class="logo-image" />
            <div class="containner-info-subtitle">
              <h2 class="montserrat-regular">Ouça suas músicas nas estrelas</h2>
              <div class="wrapper">
                <h3 class="montserrat-regular">Escute</h3>
                <div class="console-container">
                  <span id="text" class="montserrat-regular"></span>
                  <div class="console-underscore" id="console">&#95;</div>
                </div>
              </div>
            </div>
          </div>

          <div class="buttons">
            <button
              class="button-sign montserrat-semi-bold"
              id="entrar"
              onclick="redirect('login')"
            >
              Entrar
            </button>
            <button
              class="button-sign montserrat-semi-bold"
              id="cadastrar"
              onclick="redirect('sign')"
            >
              Cadastrar
            </button>
          </div>
        </div>
      </section>
      <section class="container2">
        <div class="wrapper-track">
          <div class="wrapper-item">
            <img src="/images/astro5.png" alt="astronaut" />
            <div class="wrapper-item-detail">
              <h3 class="bebas-neue-regular">Ouça suas favoritas</h3>
              <p class="montserrat-regular">
                Ouça suas músicas favoritas e descubra novas músicas epodcasts.
              </p>
            </div>
          </div>
          <div class="wrapper-item">
            <img src="/images/astro4.png" alt="playlist" />
            <div class="wrapper-item-detail">
              <h3 class="bebas-neue-regular">Playlists mais fáceis de usar</h3>
              <p class="montserrat-regular">
                Vamos te ajudar a criar playlists perfeitas para você. Ou você
                pode curtir playlists criadas por especialistas em música.
              </p>
            </div>
          </div>
          <div class="wrapper-item">
            <img src="/images/astro6.png" alt="music" />
            <div class="wrapper-item-detail">
              <h3 class="bebas-neue-regular">Do jeitinho que você gosta</h3>
              <p class="montserrat-regular">
                Conte pra gente o que você gosta de ouvir, e nós vamos
                recomendar músicas pra você.
              </p>
            </div>
          </div>
          <div class="wrapper-item">
            <img src="/images/astro3.png" alt="personalize" />
            <div class="wrapper-item-detail">
              <h3 class="bebas-neue-regular">Personalize do seu jeito</h3>
              <p class="montserrat-regular">
                Altamente personalizável e intuitivo para experiências únicas.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="music-section">
        <div class="music-image"></div>
        <div class="music-detai">
          <h1 class="montserrat-bold">Escute seus artistas favoritos</h1>
          <p class="montserrat-regular">São mais de 250 mil artistas!</p>
        </div>
      </section>
      <section class="scroll-section container3">
        <div class="circle circle1"></div>
        <div class="circle circle2"></div>
        <h1 class="bebas-neue-regular">É GRÁTIS!</h1>
        <p class="montserrat-regular">Não precisa de cartão de crédito</p>
        <a href="/plano" class="montserrat-regular">Consultar planos</a>
      </section>
      <section class="container4">
        <h1 class="bebas-neue-regular">O que você está esperando?</h1>
        <div class="container-wrapper">
          <img src="/images/astro7.png" alt="imagem" />
          <div class="container-details">
            <h2 class="bebas-neue-regular">Partiu Decolar!</h2>
            <p class="montserrat-regular">
              Entre hoje no Astro, e embarque com suas músicas favoritas.
            </p>
            <a href="/login" class="button-redirect montserrat-bold">Entrar</a>
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="footer-container">
          <div class="footer-container-item">
            <img src="/svg/Astro.svg" alt="logo" />
          </div>
          <div class="footer-container-item">
            <h3 class="montserrat-bold">Empresa</h3>
            <a
              href="https://github.com/ohthias/Astro-reimagination/wiki"
              class="montserrat-regular"
              >Sobre</a
            >
            <a href="#" class="montserrat-regular">Preguntas Frequentes</a>
            <a href="/plano" class="montserrat-regular">Planos</a>
            <a
              href="https://github.com/ohthias/Astro-reimagination"
              target="_blank"
              ><i class="fi fi-brands-github"></i
            ></a>
          </div>
          <div class="footer-container-item">
            <h3 class="montserrat-bold">Comunidade</h3>
            <a
              href="https://github.com/ohthias/Astro-reimagination/wiki/Documenta%C3%A7%C3%A3o"
              class="montserrat-regular"
              target="_blank"
              >Desenvolvedor</a
            >
            <a
              href="https://github.com/ohthias/Astro-reimagination/wiki/Documenta%C3%A7%C3%A3o"
              class="montserrat-regular"
              target="_blank"
              >Documentação</a
            >
          </div>
          <div class="footer-container-item">
            <h3 class="montserrat-bold">Contato</h3>
            <a
              href="https://github.com/Kaique-ms27"
              target="_blank"
              class="montserrat-regular"
              ><i class="fi fi-brands-github"></i> Kaique-ms27</a
            >
            <a
              href="https://github.com/Nikolls06"
              target="_blank"
              class="montserrat-regular"
              ><i class="fi fi-brands-github"></i> Nikolls06</a
            >
            <a
              href="https://github.com/ohthias"
              target="_blank"
              class="montserrat-regular"
              ><i class="fi fi-brands-github"></i> ohthias</a
            >
            <button id="play-button">Play Music</button>
          </div>
        </div>
        <div class="others-informations">
          <p class="montserrat-regular">Todos os direitos reservados</p>
          <a
            href="https://github.com/ohthias/Astro-reimagination/wiki/Termos"
            class="montserrat-regular"
            target="_blank"
            >Termos e Condições da Plataforma</a
          >
          <a
            href="https://github.com/ohthias/Astro-reimagination/blob/master/LICENSE"
            class="montserrat-regular"
            target="_blank"
            >Mozilla Public License 2.0
          </a>
          <p class="montserrat-regular">&copy; 2024 Astro</p>
        </div>
      </footer>
    </main>
    <script>
      const nav = document.querySelector(".navigation-bar");
    const playButton = document.getElementById("play-button");
    const audio = document.getElementById("background-audio");

    // Adicionar/remover a classe "scrolled" da navegação ao rolar
    document.addEventListener("scroll", () => {
      if (window.scrollY > 80) {
        nav.classList.add("scrolled");
      } else {
        nav.classList.remove("scrolled");
      }
    });

    // Evento DOMContentLoaded para remover o mudo e preparar a reprodução
    window.addEventListener("DOMContentLoaded", () => {
      audio.muted = true;  // Inicia o áudio mudo
      // Tenta iniciar o áudio, caso o navegador bloqueie o autoplay
      audio.play().catch((error) => {
        console.error("Erro de autoplay:", error);
      });
    });

    // Função para tocar o áudio e habilitar o loop quando o botão for clicado
    playButton.addEventListener("click", () => {
      if (audio.paused) {
        audio.muted = false;  // Desmutar o áudio
        audio.play();         // Reproduzir áudio
        playButton.textContent = "Stop Music";  // Alterar texto do botão
      } else {
        audio.pause();        // Pausar o áudio
        playButton.textContent = "Play Music"; // Alterar texto do botão
      }
    });
    </script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/gh/yesiamrocks/cssanimation.io@1.0.3/letteranimation.min.js"
    ></script>
    <script src="/js/others/words.js"></script>
    <script src="/js/others/redirects.js"></script>
    <script src="/js/others/albumImages.js"></script>
  </body>
</html>
