<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Astro, music, songs" />
    <meta name="description" content="Astro, o reprodutor de músicas da web" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="/css/root/font.css" />
    <link rel="stylesheet" href="/css/root/root.css" />
    <link rel="stylesheet" href="/css/root/variables.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Astro</title>
  </head>

  <body>
    <main>
      <section class="module container container1">
        <nav class="navgation-bar">
          <label id="logo" class="navgation-bar-logo bebas-neue-regular"
            >Astro</label
          >
          <div class="navgation-bar-menu">
            <a
              href="https://github.com/Matheus-Gabriel07/Astro/wiki/Documentação"
              target="_blank"
              class="menu-button-redirect bebas-neue-regular"
              >Documentação</a
            >
            <a
              href="https://github.com/Matheus-Gabriel07/Astro/wiki"
              target="_blank"
              class="menu-button-redirect bebas-neue-regular"
              >About</a
            >
            <a href="login" class="menu-button-redirect bebas-neue-regular"
              >Entrar</a
            >
          </div>
        </nav>
        <div class="containner-info">
          <div class="containner-text">
            <img src="/svg/Astro.svg" alt="logo-image" class="logo-image" />
            <div class="containner-info-subtitle">
              <h2 class="montserrat-regular">Música nas estrelas</h2>
              <div class="wrapper">
                <h3 class="montserrat-regular">Escute</h3>
                <div class="console-container">
                  <span id="text" class="montserrat-regular"></span>
                  <div class="console-underscore" id="console">&#95;</div>
                </div>
              </div>
            </div>
          </div>

          <div class="buttons">
            <button class="button-sign montserrat-semi-bold" id="entrar">
              Entrar
            </button>
            <button class="button-sign montserrat-semi-bold" id="cadastrar">
              Cadastrar
            </button>
          </div>
        </div>
      </section>
      <script src="/js/words.js"></script>
      <script src="/js/redirects.js"></script>
      <!--
        <section class="module container container2">
            <div class="contant-bolls">
                <div class="bolls">
                    <div class="circle">
                        <i class="fi fi-sr-music-alt"></i>
                    </div>
                    <div class="bolls-details">
                        <h4>Ouça suas favoritas</h4>
                        <p>Ouça suas músicas prediletas e descubra novas músicas e podcasts.</p>
                    </div>
                </div>

                <div class="bolls">
                    <div class="circle">
                        <i class="fi fi-sr-album-circle-plus"></i>
                    </div>
                    <div class="bolls-details">
                        <h4>Playlists mais fáceis de usar.</h4>
                        <p>Vamos te ajudar a criar playlists. Ou você pode curtir playlists criadas por especialistas em
                            música.</p>
                    </div>
                </div>

                <div class="bolls">
                    <div class="circle">
                        <i class="fi fi-sr-guitar-electric"></i>
                    </div>
                    <div class="bolls-details">
                        <h4>Do jeitinho que você gosta</h4>
                        <p>Conte pra gente o que você gosta de ouvir, e nós vamos recomendar músicas para você.</p>
                    </div>
                </div>

                <div class="bolls">
                    <div class="circle">
                        <i class="fi fi-sr-pencil"></i>
                    </div>
                    <div class="bolls-details">
                        <h4>Personalize do seu jeito</h4>
                        <p>Altamente personalizável e intuitivo para experiências musicais únicas.</p>
                    </div>
                </div>

            </div>
        </section>
        <section class="module container container3">
            <div class="content-image">
                <img src="/Assets/Images/Index/Astronaut1_index.png" alt="Image1" class="atronaut">
                <img src="/Assets/Images/Index/GridIndex_2.png" alt="Image2" class="grid">
            </div>
        </section>
        <section class="module container container4">
            <h2>É grátis!</h2>
            <p>Não precisa de cartão de crédito.</p>
        </section>
        <section class="module container container5">
            <div class="content">
                <img src="/Assets/Images/Astronaut/Astro2.png" alt="astronaut">
                <h2>Gostou? Então aperte o play.</h2>
                <button id="cadastrar">Entrar</button>
            </div>
        </section>
      -->
    </main>
  </body>
</html>
