<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <div class="containner">
        <div class="containner_info">
            <div class="containner_info_header">
                <h1>Cadastrar</h1>
                <a href="./sign_up.html" id="page"> Entrar </a>
            </div>
            <form id="cadastroForm">
                <label class="informationsCadatro"
                >Nome de Usuário:</label
                >
                <input type="text" name="user" id="user" required />

                <label for="email" class="informationsCadatro">Email:</label>
                <input type="email" name="email" id="email" required />

                <label class="informationsCadatro">Senha:</label>
                <input type="password" name="password" id="loginSenha" required />
                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>