<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Astro Pagamento</title>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="/css/screen/pagamento.css" />
    <link rel="stylesheet" href="/css/root/root.css" />
    <link rel="stylesheet" href="/css/root/variables.css" />
  </head>
  <body>
    <nav class="navgation-bar">
      <img
        src="/svg/Astro.svg"
        alt="logo-svg"
        class="navgation-bar-logo"
        onclick="redirectIndex()"
      />
      <div class="navgation-bar-menu">
        <a
          href="https://github.com/ohthias/Astro-reimagination/wiki"
          target="_blank"
          class="menu-button-redirect montserrat-bold"
          >Documentação</a
        >
        <a
          href="https://github.com/ohthias/Astro-reimagination/wiki"
          target="_blank"
          class="menu-button-redirect montserrat-bold"
          >About</a
        >
        <a href="/login" class="menu-button-redirect montserrat-bold">Entrar</a>
      </div>
    </nav>
    <script async src="https://js.stripe.com/v3/buy-button.js"></script>

    <stripe-buy-button
      buy-button-id="buy_btn_1QJy69Gsq2ZfkEa8kuQHhDYK"
      publishable-key="pk_test_51QCOCvGsq2ZfkEa8HGgjf5BH3lHkGo1ubkIGx9IJ6ADnywry2Ux5AU2RottQUeC1LT2a1sR0he5HUOcRiWrMQDE40013SL8yrp"
    >
    </stripe-buy-button>
  </body>
</html>
