<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Astro</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <link rel="stylesheet" href="/css/root/font.css" />
    <link rel="stylesheet" href="/css/root/root.css" />
    <link rel="stylesheet" href="/css/root/variables.css" />

    <link rel="stylesheet" href="/css/components/player.css" />
    <link rel="stylesheet" href="/css/components/sidebar.css" />
    <link rel="stylesheet" href="/css/components/navbar.css" />

    <link rel="stylesheet" href="/css/screen/album.css" />
  </head>
  <body id="backParallax">
    <main id="mainScroll">
      <section class="display-album">
        <picture id="albumPicture">
          <source id="largeSource" media="(min-width: 1024px)" />
          <source id="mediumSource" media="(max-width: 1023px)" />
          <source id="smallSource" media="(max-width: 600px)" />
          <img
            src="https://placehold.jp/f3f3f3/f3f3f3/350x350.png"
            id="albumImage"
            alt="Album cover"
            class="album-image"
            crossorigin="anonymous"
          />
        </picture>
        <div class="display-album-details">
          <h1
            class="bebas-neue-regular"
            data-album-title="albumTitle"
            id="playlistName"
          >
            ▬▬▬▬▬▬
          </h1>
          <a
            href="#"
            class="montserrat-regular"
            data-album-artist="albumArtistName"
            id="albumArtistElement"
          >
            ▬▬▬▬▬▬▬▬
          </a>

          <section class="controller">
            <button id="playButton" class="controller-button">
              <span class="material-symbols-outlined play_arrow"
                >play_arrow</span
              >
            </button>
            <button id="favoriteButton" class="controller-button">
              <span class="material-symbols-outlined favorite">favorite</span>
            </button>
            <button id="shuffleButton" class="controller-button">
              <span class="material-symbols-outlined shuffle">shuffle</span>
            </button>
            <button id="repeatButton" class="controller-button">
              <span class="material-symbols-outlined repeat">repeat</span>
            </button>
          </section>
        </div>
      </section>
      <section id="albumTracks"></section>
    </main>
    <script src="/js/generator/menus.js"></script>
    <script src="/js/generator/player.js"></script>
    <script src="/js/generator/navbar.js"></script>
    <script src="/js/theme.js"></script>
    <script src="/js/token.js"></script>
    <script src="/js/others/scroll.js"></script>
    <script src="/js/background-color.js"></script>
    <script src="/js/getTheme.js"></script>
    <script type="module" src="/js/musicPlayer.js"></script>
    <script type="module" src="/js/playlist.js"></script>
  </body>
</html>
