<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta property="og:title" content="Usuário" />
    <meta
      property="og:description"
      content="Página do usuário"
    />
    <meta property="og:image" content="https://i.pinimg.com/736x/ea/21/05/ea21052f12b135e2f343b0c5ca8aeabc.jpg" />
    <meta property="og:type" content="website" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro - username</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/root/font.css" />
    <link rel="stylesheet" href="/css/root/root.css" />
    <link rel="stylesheet" href="/css/root/variables.css" />

    <link rel="stylesheet" href="/css/components/player.css" />
    <link rel="stylesheet" href="/css/components/sidebar.css" />
    <link rel="stylesheet" href="/css/components/navbar.css" />

    <link rel="stylesheet" href="/css/screen/settings.css" />
</head>
<body>
    <script src="/js/generator/menus.js"></script>
    <script src="/js/generator/player.js"></script>
    <script src="/js/generator/navbar.js"></script>
    <script type="module" src="/js/musicPlayer.js"></script>
</body>
</html>