<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Astro, music, songs" />
    <meta name="description" content="Astro, o reprodutor de músicas da web" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/css/root/font.css" />
    <link rel="stylesheet" href="/css/root/root.css" />
    <link rel="stylesheet" href="/css/root/variables.css" />
    <link rel="stylesheet" href="/css/sign.css" />
    <title>Astro</title>
  </head>
  <body class="sign">
    <label class="logo-title bebas-neue-regular" onclick="redirectIndex('/')"
      >Astro</label
    >

    <main class="container">
      <div class="title-container">
        <h1 class="bebas-neue-regular">Cadastrar</h1>
        <a href="/login" class="button-redirect bebas-neue-regular"
          >Entrar</a
        >
      </div>

      <form action="/register" method="post">
        <div class="form-container">
          <input
            type="text"
            name="username"
            id="username"
            class="montserrat-medium"
            placeholder="Digite o nome de usuário"
            required
          />
          <label for="username" class="montserrat-semi-bold">Usuário</label>
        </div>
        <div class="form-container">
          <input
            type="email"
            name="email"
            id="email"
            class="montserrat-medium"
            placeholder="Digite seu email"
            required
          />
          <label for="email" class="montserrat-semi-bold">Email</label>
        </div>
        <div class="form-container">
          <div class="password-input">
            <input
              type="password"
              name="hashWord"
              id="password"
              class="montserrat-medium"
              placeholder="Digite sua senha"
              required
            />
            <span class="material-symbols-outlined"> visibility_off </span>
          </div>
          <label for="password" class="montserrat-medium">Senha</label>
        </div>
        <p class="bebas-neue-regular">
          Concordo com os
          <a
            href="https://github.com/ohthias/Astro-reimagination/wiki/Termos"
            target="_blank"
            class="bebas-neue-regular"
            >termos da plataforma</a
          >
        </p>
        <input
          type="submit"
          class="button-submit bebas-neue-regular"
          value="Cadastrar"
        />
      </form>
    </main>

    <script src="/js/togglePassword.js"></script>
    <script src="/js/togglePassword.js"></script>
  </body>
</html>
