<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Astro, music, songs" />
    <meta name="description" content="Astro, o reprodutor de músicas da web" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/css/root/font.css" />
    <link rel="stylesheet" href="/css/root/root.css" />
    <link rel="stylesheet" href="/css/root/variables.css" />
    <link rel="stylesheet" href="/css/sign.css" />
    <title>Astro</title>
  </head>
  <body>
    <label class="logo-title bebas-neue-regular">Astro</label>

    <main class="container">
        <h1 class="bebas-neue-regular">Cadastrar</h1>
        <a href="#" class="button-redirect bebas-neue-regular">Cadastrar</a>

        <form action="#" method="post">
            <div class="form-container">
                <label for="username" class="montserrat-medium">Usuário</label>
                <input type="text" name="username" id="username" class="montserrat-medium" placeholder="Digite o nome de usuário" required>
            </div>
            <div class="form-container">
                <label for="email" class="montserrat-medium">Email</label>
                <input type="email" name="email" id="email" class="montserrat-medium" placeholder="Digite seu email" required>
            </div>
            <div class="form-container">
                <label for="password" class="montserrat-medium">Senha</label>
                <div class="password-input">
                    <input type="password" name="password" id="password" class="montserrat-medium" placeholder="Digite sua senha" required> 
                    <span class="material-symbols-outlined">
                      visibility_off
                      </span>                  
                  </div>
            </div>
            <input type="submit" value="Cadastrar">
        </form>
    </main>
    <script src="/js/others/togglePassword.js"></script>
    <script src="/js/others/redirects.js"></script>
  </body>
</html>
