<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta property="og:title" content="Usuário" />
    <meta
      property="og:description"
      content="Página do usuário"
    />
    <meta property="og:image" content="https://i.pinimg.com/736x/ea/21/05/ea21052f12b135e2f343b0c5ca8aeabc.jpg" />
    <meta property="og:type" content="website" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro - username</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/css/api/swiper.css" />

    <link rel="stylesheet" href="/css/root/font.css" />
    <link rel="stylesheet" href="/css/root/root.css" />
    <link rel="stylesheet" href="/css/root/variables.css" />

    <link rel="stylesheet" href="/css/components/player.css" />
    <link rel="stylesheet" href="/css/components/sidebar.css" />
    <link rel="stylesheet" href="/css/components/navbar.css" />

    <link rel="stylesheet" href="/css/screen/user.css" />
  </head>
  <body id="backParallax">
    <main>
      <section class="user-banner">
        <div class="user-banner-details">
          <h1 class="montserrat-bold" id="userNameAcess"></h1>

          <div class="details-side-right">
            <a href="/setting" class="btn-seguir montserrat-bold">Editar</a>
          </div>
        </div>
        <div class="user-banner-image">
          <img
            id="userImage"
            class="user-image"
            alt="User_Image"
            src="/images/placeholder.png"
          />
        </div>
      </section>

      <section class="user-playlists swiper" style="display: none;">
        <h2 class="montserrat-bold categoria-name">Playlists</h2>
        <div class="swiper-container">
          <div class="swiper-wrapper"></div>
          <button class="swiper-button-prev"></button>
          <button class="swiper-button-next"></button>
        </div>
      </section>
    </main>
    <script src="/js/generator/menus.js"></script>
    <script src="/js/generator/player.js"></script>
    <script src="/js/generator/navbar.js"></script>
    <script type="module" src="/js/user.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/token.js"></script>
    <script src="/js/theme.js"></script>
    <script type="module" src="/js/swipe.js"></script>
    <script type="module" src="/js/musicPlayer.js"></script>
    <script src="/js/background-color.js"></script>
    <script src="/js/getTheme.js"></script>
  </body>
</html>
